<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="processors" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <processors>
    <add key="DokuSign" value="DokuSign.Processor, DokuSign, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </processors>
  <appSettings>
    <add key="DefaultProcessor" value="DokuSign" />
    <add key="DebugMode" value="1" />
    <add key="RegKey" value="qnXMIKz+bN3YEiQX2xUSuxfYkg/ATbZE/x1MaPsO2fFH8tnvlylbBVkhv0ymcr7g_" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>